form .bouton{
    width: 174px;
    height: 54px;
    border: none;
    border-radius: 38px;
    font-family: 'cantarell';
    font-size: medium;
    font-weight: bold;
    background-color: var(--gradient-white);
}

form .contact:hover{
    border: 1px solid #000 ;
    box-shadow: 0 0 20px #021740 ;
}

form .enigme:hover{
    border: 1px solid var(--pink) ;
    box-shadow: 0 0 20px #F2CEF2 ;
}
form .input-text-mail{
    width: 520px;
    height: 56px;
    padding: 0px 20px;
    border-radius: 38px;
    border: 1px solid #fff;
    background-color: transparent;
}

